<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="styles/layout.css">
    <link rel="shortcut icon" href="icon.png" type="image/png">
</head>
<body>
    <%- include("nav") %>

    <div class="body">
        <%- body %>
    </div>

    <%- defineContent('script') %>
</body>
</html>